.container {
  box-shadow: 0 0 10px $clr-gray200;
  min-width: 280px;
  height: auto;
  margin: 100px;
  padding: 20px;
  &__title {
    text-align: center;
    font-size: 1.8rem;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 650px;
  }
}
