.form__button {
  background-color: $bgViolet;
  color: $clr-white;
  display: flex;
  width: 40%;
  padding: 10px;
  margin: 10px auto 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  border-radius: 0.4rem;
  border: 1px solid $bgViolet;
  transition: background-color 400ms ease-in;
  &:hover {
    background-color: $clr-violetLight;
  }
}

@media (min-width: 768px) {
  .form__button {
    width: 80%;
  }
}
